@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300&family=Roboto:wght@100&display=swap');

.Curriculum{
    text-align: center;
    font-size: 60px;
    margin: 0px 0px 0px 0px;
}
img{
    height: 250px;
    width: 350px;
    position: relative;
    left: 75%;
    bottom: 170px;
    margin-top: 10px;
}
.dadosP{
    position: relative;
    top: 120px;
    left: 3%;
    font-family: 'Hind Madurai';
    font-size: 40px;
    margin: 0px;
    font-weight: 600;
}
ul{
    list-style: none;
}
a{
    color: black;
    padding-left: 5px;
}
a:hover{
    color: rgb(71, 68, 68);
}