<body>
    <h1 class="Curriculum">Curriculum</h1>
    <div class="dadosP">
        <ul>
            <li>Nome: José Paulo L. de Meireles</li>
            <li>Idade: 19 anos</li>
            <li>Endereço: Rua padre chargas n°3832 cetro</li>
            <li>Tel: (42) 99945-8010</li>
            <li>Email: <a href="mailto:dimascool.nin@gmail.com">
                dimascool.nin@gmail.com
            </a></li>
        </ul>
    </div>
    <img src="https://br.web.img3.acsta.net/r_1280_720/newsv7/16/06/27/23/17/546995.jpg" alt=" ">
</body>
