.finalp{
    text-align: center;
    margin-top: 20px;
    padding-top: 30px;
    padding-bottom: 3%;
}
a{
    color: black;
    text-decoration: none;
    padding-left: 5px;
}
a:hover{
    color: rgb(71, 68, 68);
}
.barra{
    border-right: solid 1px black ;
    padding-right: 5px;
}