<body>
    <h1>Cursos / Escolaridade</h1>
</body>
<div>
    <h2>2018</h2>
    <h3>1° ano do ensino médio:</h3>
    <p>Começei o 1° ano do ensino médio no Florestal uma escola de ensino tecnico em Técnico Florestal.</p> 
    <hr>
    <h2>2019</h2>
    <h3>2° ano do ensino médio</h3>
    <p>Voltei para um ensino médio normal.</p>
    <h3>Curso de dev de jogos</h3>
    <p>Começei um curso de desenvolvimento de jogos EAD, foi meus primeiros passos com linguagens de programação, consegui fazer 3 jogos e continuo fazendo o curso até hoje.</p>
    <h3>Curso de gestão de empresa</h3>
    <p>Iniciei um curso de gestão de empresas Terminei no mesmo ano, neste curso aprendi a gerir<!--ver se esta palavra realmente existe--> empresas de médio e grande porte</p>
    <hr>
    <h2>2020</h2>
    <h3>3° ano do ensino médio</h3>
    <p>Terminei o ensino médio.</p>
    <hr>
    <h2>2021</h2>
    <h3>Curso Tecnico em Adiministração</h3>
    <p>Conclui este curso em 2021, aprendi Administar empresas, de pequeno à grande porte.</p>
    <hr>
    <h2>2022</h2>
    <h3>Auxiliar de TI</h3>
    <p>Conclui um curso profissionalizante de Auxiliar de TI, neste curso aprendi a arrumar Computadores e outros tipos de equipamentos eletronicos</p>
    <h3>Faculdade de DEV</h3>
    <p>Começei a faculdade de Analise e Desenvolvimento de Sistemas, e continuo cursando</p>
</div>
