@import url('https://fonts.googleapis.com/css2?family=Amita&family=Hind+Madurai:wght@300&family=Roboto:wght@100&display=swap');
h1{
    text-align: center;
}
body{
    text-align: justify;
    text-align: left;
    
    margin-top: 50px;
    margin-left: 250px;
    margin-right: 250px;
    padding: 0px 0px 0px 0px;
}
hr{
    border: 1px solid black;
}
div{
    font-family: 'Roboto';
    border: 3px solid black;
    background-color: rgb(222, 110, 70);
    margin: 0px 240px 0px 240px;
    box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.7);
}
h2{
    text-align: left;
    font-size: 40px;
    padding: 0px 50px ;
}
p, h3{
    margin-left: 300px;
    margin-right: 10px;
    padding-right: 200px;
    font-size: 30px;
}
p{
    padding-left: 50px;
}
