h1{
    text-align: center;
}
body{
    text-align: justify;
    text-align: left;
    
}
p, h2{
    margin-left: 350px;
    margin-right: 10px;
    padding-right: 300px;
}
p{
    padding-left: 50px;
}
h2{
    padding-top: 50px;
}