<body>
    <h1>Experiencias</h1>
    <h1>2019 á 2021</h1>
    <h2>Erva-Mate Bugiu</h2>
    <p>Trabalhei por nove messes na empresa erva mete Bugiu na area de empacotamneto, eu era gerente de estoque cuidava do estoque.</p>
    <h2>2021 á 2023</h2>
    <p>
        Trabalhie na Assistencia social CREAS como estagiario, lá  como estagiario. Eu atendia intinerantes e também 
        cuidava dos estoques de passagens e beneficios, auxiliava nas palestras intalando e trasportanto equipamentos multimidia, auxiliava na criação de apresentaçoes com o powerpoint.
    </p>
    <h2>Atualmente</h2>
    <p>
        Atualmente estou trabalhando como Estágiario na Shooting.
    </p>
</body>